{% extends '00_base/base.html' %}

{% block css_container %}{% endblock css_container %}

{% block container %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
       <div class="row">
           <div class="col">
                <div class="form-group">
                    <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                    {{ form.nome }}
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="{{ form.imagem.id_for_label }}">{{ form.imagem.label }}</label>
                    {{ form.imagem }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Criar Jogador</button>
            </div>
        </div>
    </form>
{% endblock container %}

{% block js_container %}{% endblock js_container %}
