{% extends '00_base/base.html' %}

{% block css_container %}{% endblock css_container %}

{% block container %}

    <div class="row">
        {% for card in cards %}
        <div class="col mb-2">
            <div class="card" style="width: 12rem;">
                <a href="{% url 'update_card' card.id %}">
                    <img class="card-img-top" src="{{ card.imagem.url }}" alt="Card image"
                         data-toggle="tooltip" data-placement="top" title="{{ card.descricao }}">
                </a>
                <div class="card-body">
                    <div class="card-title text-center text-uppercase" style="font-size: 14px;font-weight: bold;">
                        {{ card.nome|truncatechars:15 }}
                    </div>
                    <div class="card-text text-center mb-2" style="font-size: 10px;">
                        <div class="row">
                            <div class="col text-center">ATK {{ card.ataque }}</div>
                            <div class="col text-center">DEF {{ card.defesa }}</div>
                        </div>
                    </div>
                    <a href="{% url 'view_card' card.id %}" class="btn btn-outline-secondary btn-sm btn-block">Ver mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock container %}

{% block js_container %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock js_container %}