{% extends '00_base/base.html' %}

{% block css_container %}
    <style>
        .card {
            background-image: url("https://img.freepik.com/free-vector/floral-ornamental-abstract-background_52683-30016.jpg?w=2000");
            width: 100%;
            padding: 25px;
            border-radius: 18px;
        }
        .card_nome {
            background-image: url("https://img.freepik.com/fotos-premium/textura-abstrata-de-bege-escuro-padrao-de-forma-de-favo-de-mel-plano-de-fundo-do-projeto_317169-1184.jpg");
            width: 100%;
            border-radius: 6px;
            margin-bottom: 20px;
            color: #FFF;
            font-weight: bold;
            padding: 2px 10px;

        }
        .card_img {
            background-image: url("{{ card.imagem.url }}");
            width: 100%;
            height: 180px;
            border-radius: 16px;
            margin-bottom: 20px;
        }
        .card_tipo {
            background-image: url("https://img.freepik.com/fotos-premium/textura-abstrata-de-bege-escuro-padrao-de-forma-de-favo-de-mel-plano-de-fundo-do-projeto_317169-1184.jpg");
            width: 100%;
            border-radius: 6px;
            margin-bottom: 20px;
            color: #FFF;
            font-weight: bold;
            padding: 2px 10px;
        }
        .card_desc {
            background-image: url("https://img.freepik.com/fotos-gratis/fundo-preto-antigo-textura-do-grunge-papel-de-parede-escuro-blackboard-chalkboard-betao_1258-70485.jpg?w=2000");
            width: 100%;
            height: 180px;
            border-radius: 6px;
            margin-bottom: 20px;
            color: #FFF;
            font-size: 12px;
            padding: 2px 10px;
        }
        .card_power {
            background-image: url("https://img.freepik.com/fotos-premium/textura-abstrata-de-bege-escuro-padrao-de-forma-de-favo-de-mel-plano-de-fundo-do-projeto_317169-1184.jpg");
            width: 100%;
            border-radius: 6px;
            color: #FFF;
            font-weight: bold;
            padding: 2px 10px;
            display: inline-flex;
        }
        .card_ataque {
            color: #FFF;
            width: 50%;
            text-align: center;

        }
        .card_defesa {
            color: #FFF;
            width: 50%;
            text-align: center;
        }
    </style>
{% endblock css_container %}

{% block container %}

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card">
                <div class="card_nome">{{ card.nome }}</div>
                <div class="card_img"></div>
                <div class="card_tipo">{{ card.tipo.nome }}</div>
                <div class="card_desc">{% lorem %}</div>
{#                <div class="card_desc">{{ card.descricao }}</div>#}
                <div class="card_power">
                    <div class="card_ataque">ATK: {{ card.ataque }}</div>
                    <div class="card_defesa">DEF: {{ card.defesa }}</div>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'delete_card' card.id %}">Excluir este Card</a>
            </div>
        </div>
        <div class="col-4"></div>
    </div>

{% endblock container %}

{% block js_container %}{% endblock js_container %}