{% extends '00_base/base.html' %}

{% block css_container %}

{% endblock css_container %}

{% block container %}
    <style>

        .card_img {
            width: 100%;
            height: 100%;
            margin-bottom: 20px;
        }

    </style>
     <div class="row">
        {% for card in deck.deckcard_set.all %}
            <div class="col-md-4 mt-3">
                <img src="{{ card.card.imagem.url }}" style="width: 100%">
            </div>
        {% empty %}
            <h3>NENHUMA CARTA CADASTRADA</h3>
        {% endfor %}
    </div>

{% endblock container %}

{% block js_container %}{% endblock js_container %}